@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@200;300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth custom-scrollbar;
  }

}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .common-container {
    @apply custom-scrollbar;
  }
}

.blue-gradient {
  background: #00c9c8;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004064,
    #006b8e,
    #0099b0,
    #00c9c8
  );
  background: -webkit-linear-gradient(
    -90deg,
    #00c9c8 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.clip-path {
  position: relative;
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 340 Z"
  );
}

.imghover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backgroundGradient {
  background-image: linear-gradient(
    to right top,
    #009292,
    #009f9f,
    #00adad,
    #00bbba,
    #00c9c8
  );
}

