@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@200;300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth custom-scrollbar;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .common-container {
    @apply custom-scrollbar;
  }
  .orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
  }

  .green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
  }

  .blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
  }
  .blue_gradient1 {
    @apply bg-gradient-to-l from-[#007F74] to-[#00C9C8] bg-clip-text text-transparent;
  }
  .blue_gradient2 {
    @apply bg-gradient-to-l from-[#00C9C8] to-[#60efff] bg-clip-text text-transparent;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-white !important;
  }

  .shad-form_message {
    @apply text-red !important;
  }

  .shad-input {
    @apply h-12 bg-[#1F1F22] border-none placeholder:text-[#5C5C7B] focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-[#606099] !important;
  }

  .shad-textarea {
    @apply h-36 bg-dark-3 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-[#606099] !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-[#00C9C8] hover:bg-[#0099b0] transition-colors text-white h-10 px-4 py-2 rounded-lg flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
}

.blue-gradient {
  background: #00c9c8;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004064,
    #006b8e,
    #0099b0,
    #00c9c8
  );
  background: -webkit-linear-gradient(
    -90deg,
    #00c9c8 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.clip-path {
  position: relative;
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 340 Z"
  );
}

.imghover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backgroundGradient {
  background-image: linear-gradient(
    to right top,
    #009292,
    #009f9f,
    #00adad,
    #00bbba,
    #00c9c8
  );
}

.banner3 {
  background-image: linear-gradient(
      298deg,
      transparent 0%,
      transparent 50%,
      rgba(159, 159, 159, 0.07) 50%,
      rgba(159, 159, 159, 0.07) 77%,
      transparent 77%,
      transparent 100%
    ),
    linear-gradient(
      253deg,
      transparent 0%,
      transparent 91%,
      rgba(159, 159, 159, 0.07) 91%,
      rgba(159, 159, 159, 0.07) 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      298deg,
      transparent 0%,
      transparent 24%,
      rgba(159, 159, 159, 0.07) 24%,
      rgba(159, 159, 159, 0.07) 63%,
      transparent 63%,
      transparent 100%
    ),
    linear-gradient(
      163deg,
      transparent 0%,
      transparent 49%,
      rgba(159, 159, 159, 0.07) 49%,
      rgba(159, 159, 159, 0.07) 63%,
      transparent 63%,
      transparent 100%
    ),
    linear-gradient(253deg, rgb(5, 8, 22), rgb(5, 8, 22));
}
